.social-share {
	line-height: 20px;
	width: auto;
	height: 20px;
	max-width: 80px;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
}

#share-embed {
	float: right;
	cursor: pointer;
}

#share-linkedin {
  	width: 59px; }

#share-pinterest a {
  	vertical-align: baseline !important; }

#share-google {
	width: 60px; }

#share-twitter {
  	margin-right: 0; }

.long-description {
  	margin: 10px 0; }

.embed-box {
	font-size: 10px;
	width: 90%;
	height: auto;
	max-width: 560px;
	line-height: 10px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	margin: -8px 0 0 0;
	cursor: text;
	display: block;
}

.embed-box code {
	font-size: 10px;
	line-height: 12px !important;
	color: #000;
	font-family: Consolas, Monaco, Lucida Console, monospace; 
}

.idsocial-wp-fb-login {
	display:block;
	height:27px;
	clear:both;
	padding-top:15px;
}